label {
  color: white;
  font-size: larger;
}
.nameInput {
  color: white;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
input {
  width: 20vw;
  height: 40px;
  background-color: aliceblue;
  z-index: 32000;
  color: black;
  font-size: larger;
}
.modalStyling {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
button {
  font-size: larger;
  background-color: blueviolet;
  border-radius: 10px;
  border-style: none;
  letter-spacing: 2px;
}
