body {
  width: 100%;
  /* height: 100vh; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  align-items: center;
  /* overflow: hidden; */
  /* margin-bottom: 80px;
  padding-bottom: 20px; */
}

.alienLinkBox {
  display: grid;
  justify-content: center;
}

.aliensListAddBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 10px;
}
.descriptionText {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  max-width: 1400px;
  margin-bottom: 30px;
  font-size: x-large;
}
.addAlien {
  padding: 8px 10px;
  background-color: blueviolet;
  border-style: none;
  border-radius: 10px;
  font-size: larger;
  font-weight: 600;
}
h1 {
  padding: 10px;
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 2rem;
}
.addAlien:hover {
  background-color: rgb(71, 11, 128);
  color: aquamarine;
  cursor: pointer;
}
.aliensWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.aliensCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 1s;
  left: 0;
  /* position: absolute; */
  /* gap: 20px; */
  border: 1px solid rgb(196, 30, 154);
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  overflow: hidden;
}

.aliensCard:hover {
  box-shadow: 5px 5px 15px rgb(196, 30, 154);
  transition: transform 0.5s;
}
.imgURL {
  margin: 20px;
  border-radius: 10px;
  border: 1px solid rgb(82, 3, 75);
  transition: 0.7s;
}
button {
  padding: 10px 5px;
  margin: 10px;
}
.delete {
  font-size: larger;
  background-color: blueviolet;
  border-radius: 10px;
  border-style: none;
}
.delete:hover {
  background-color: rgb(71, 11, 128);
  color: aquamarine;
  cursor: pointer;
}
h3 {
  margin-bottom: 5px;
  font-size: x-large;
}
p {
  text-align: center;
}
span {
  font-weight: 800;
}
.innerCard {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 480px) {
  h1 {
    margin-top: 55px;
  }
}
@media (min-width: 1100px) {
  h1 {
    margin: 0;
  }
}
