.bodyLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px;
  gap: 10px;
  padding: 10px 0;
}

.hideSpacer {
  display: none;
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: 2%;
  margin-bottom: 20px;
}
.textDescr {
  color: white;
  text-align: center;
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  width: 80%;
  margin: auto;
}
@media (min-width: 480px) {
  .bodyLinks {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 10px;
  }
  section {
    margin-top: 90px;
  }
  .hideSpacer {
    display: contents;
    align-items: center;
  }
  .display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dragonAlign {
    margin-bottom: 20px;
    padding-bottom: -25px;
  }
}
@media (min-width: 1200px) {
  .bodyLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 90px ; */
    gap: 30px;
  }
}
@media (min-width: 1500px) {
  .bodyLinks {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
}
