.bodyLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .boxShine {
    /* position: absolute; */
    background-color: white;
    width: 355px;
    height: 510px;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 5%;
  }
}

.alienLink {
  background-image: url("../assets/alienLogo.jpg");
  width: 350px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  margin-top: 5px;
  p {
    color: white;
    text-align: center;
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 125%;
  }
}
