.dragonsListAddBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 10px;
}
.dragonsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.dragonsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  width: 40vh;
  height: auto;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}
.ListAddBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 10px;
}
.dragonsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.dragonsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgb(196, 30, 154);
  border-radius: 15px;
  width: 40vh;
  height: auto;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}
.addDragon {
  padding: 8px 10px;
  background-color: blueviolet;
  border-style: none;
  border-radius: 10px;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
}
.addDragon:hover {
  background-color: rgb(71, 11, 128);
  color: aquamarine;
  cursor: pointer;
}
.delete {
  padding: 5px 10px;
  font-size: larger;
  background-color: blueviolet;
  border-radius: 10px;
  border-style: none;
}
.imgURL {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgb(82, 3, 75);
}
h3 {
  font-size: x-large;
}
p {
  font-size: larger;
  text-align: center;
}
span {
  font-weight: 800;
}

@media (min-width: 480px) {
  .imgURL {
    width: 310px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(82, 3, 75);
  }
  .dragonsCard {
    width: 50vh;
  }
}
