.dragonsBox {
  background-color: white;
  width: 355px;
  height: 510px;
  padding-top: 5px;
  box-sizing: border-box;
  border-radius: 5%;
  position: relative;
  z-index: -1;
}
.dragonsLink {
  background-image: url("../assets/dragonsLogo.jpg");
  width: 345px;
  height: 495px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  margin: 4px;
  padding: 5px;
  p {
    color: white;
    text-align: center;
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 125%;
  }
}
@media (min-width: 480px) {
  .dragonsBox {
    width: 357px;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 5%;
    z-index: -2;
    margin-top: -20px;
  }

  .dragonsLink {
    width: 340px;
    height: 495px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    margin: 3px 3px 3px 8px;
  }
}
