nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-top: 0;

  .logo {
    background-image: url("../assets/logo.png");
    width: 410px;
    height: 410px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
  }

  .navText {
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    display: block;
    background-image: linear-gradient(
      to right top,
      /* #ee2561,
      #e945cb,
      #c273c6, */ #e1dde2,
      /* #ab7edb, */ #8991f0,
      #5ca3fc,
      #00b2ff,
      #00cdff,
      #00e3e5,
      #00f3aa,
      #42fc0f,
      #e1dde2
    );
    color: transparent;
    background-clip: text;
    background-size: 190%;
    height: 35px;
    animation: text-animation 5s infinite alternate;
  }
}
@keyframes text-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
