.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  position: inherit;
  .logo {
    background-image: url("../assets/logo.png");
    width: 410px;
    height: 410px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: -20px 10px 10px 10px;
  }
}
.navText {
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  display: block;
  background-image: linear-gradient(
    to right top,
    #8991f0,
    #5ca3fc,
    #00b2ff,
    #00cdff,
    #00e3e5,
    #00f3aa,
    #42fc0f,
    #eeb005,
    #fdfcfd
  );
  color: transparent;
  background-clip: text;
  background-size: 190%;
  height: 35px;
  animation: text-animation 4s infinite alternate;
}
@keyframes text-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (min-width: 480px) {
  .logo {
    display: none;
  }
}
